@use "../modules/booking-card";
@use "../modules/form";
@use "../component/ui.module.scss";
@import "../modules/variables";

.booking {
    padding-bottom: 10vh;
    background-color: $background-color;
    color: $text-color;
    h2 {
        padding-bottom: 6vh;
    }
    h3 {
        padding-bottom: 2vh;
    }
}

.limit {
    color: $inactive-color;
}


// areas: few spots left
.fewSpots {
    color: $accent-color;
}

// error messages

.error {
    color: $accent-color;
}