@use "../component/ui.module.scss";
@import "./variables";

.card {
    margin-bottom: 7vh;
    padding: 2vh 0;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-gap: 12%;
    justify-content: space-between;
    // background-color: $button-color;
    border-bottom: 1px solid $border-color;
    .actions {
        display: flex;
        flex-direction: column;
    }
    .changeNumber {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .price {
        font-size: 1.5rem;
        font-weight: 700;
    }    
}

@media (min-width: 220px) and (max-width: 680px) {
    .card {
        grid-template-columns: 100%;
        padding-bottom: 8vh;
        .actions {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            align-self: flex-end;
        }
        .changeNumber {
            gap: 5vw;
        }
    }
    
}