@import "../modules/variables";
@import "../component/ui.module.scss";

.form {
    display: flex;
    flex-direction: column;
    .input {
        padding-top: 2vh;
        padding: 1vh 1.5vw;
        border-radius: 0;
        background-color: $input-color;
        color: $text-color;
        border: 1px solid $border-color;
    }
    .fieldRow {
        width: 100%;
        padding-bottom: 4vh;
        display: grid;
        grid-template-columns: 30vw 1fr;
        grid-gap: 4vw;
    }
    .fieldColumn {
        padding-bottom: 5vh;
        display: flex;
        flex-direction: column;
        gap: 2vh
    }
    .buttons {
        padding-top: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 220px) and (max-width: 680px) {
    .form {
        .fieldRow {
            
            grid-template-columns: 100%;
            grid-gap: 1vh;
        }
    }
}