@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$main-font: 'Inter', sans-serif;

$background-color: #080808;
$text-color: #eaeaea;
$accent-color: #9f1919;
$inactive-color: #777777;
$border-color: #ffffff4a;
$button-color: #080808;
$input-color: #181818;