@import "../modules/variables";

.layout {
    margin-left: 10vw;
}

.layoutGrid {
    display: grid;
    grid-template-columns: 50vw 1fr;
    grid-gap: 8vw;
    .info {
        padding-bottom: 10vh;
    }
    .cart {
        display: none;
    }
    .order {
        padding: 5vh 3vw;
        height: 100vh;
        position: sticky;
        top: 0;
        background-color: $input-color;
    }
}



// steps styling

.steps {
    padding: 5vh 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .active {
        color: $text-color;
        font-weight: 700;
        .stepNumber {
            margin-right: 1vw;
            color: $accent-color;
        }
    }
    .inactive {
        color: $inactive-color;
        .stepNumber {
            margin-right: 1vw;
            color: $inactive-color;
        }
    }
}



@media (min-width: 220px) and (max-width: 680px) {

    .layout {
        position: relative;
        margin: 0 10vw;
        display: flex;
        flex-direction: column;
    }

    .layoutGrid {
        grid-template-columns: 100%;
    }
    .cart {
        margin-top: 5vh;
        display: block;
        align-self: flex-end;
    }

    .orderHidden {
        display: none;
    }
    .order {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    
    
    
}

