@import "../modules/variables";

.layout {
    margin-left: 10vw;
}

.layoutGrid {
    display: grid;
    grid-template-columns: 50vw 1fr;
    grid-gap: 8vw;
    .info {
        padding-bottom: 10vh;
    }
    .order {
        padding: 5vh 3vw;
        height: 100vh;
        position: sticky;
        top: 0;
        background-color: $input-color;
    }
}

// steps styling

.steps {
    padding: 5vh 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .active {
        color: $text-color;
        font-weight: 700;
        .stepNumber {
            margin-right: 1vw;
            color: $accent-color;
        }
    }
    .inactive {
        color: $inactive-color;
        .stepNumber {
            margin-right: 1vw;
            color: $inactive-color;
        }
    }
}