.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(26, 26, 26);
  padding: 1rem 2rem 1rem 2rem;
}
.fixed_nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f0f0f81;
  z-index: 55;
  //   backdrop-filter: blur(5px);
  //   -webkit-backdrop-filter: blur(5px);
  //   width: 100%;
  //   padding-right: 3rem;
  //   padding-left: 3rem;
  //   padding-top: 2rem;
  //   padding-bottom: 2rem;
  //   z-index: 590;
  transition: 0.5s ease-in-out;
  //   ul {
  //     display: flex;
  //     width: 10%;
  //     gap: 3rem;
  //     // width: 100%;
  //   }
}

.menu {
  display: flex;
  //   position: relative;
  gap: 3rem;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
}
.menu :nth-child(3) {
  min-width: 215px;

  // padding: 1rem 3rem 1rem 3rem;
  // margin-left: 4rem;
  position: relative;
}
// .menu :nth-child(3)::after {
//   content: "days hours minutes seconds";
//   position: absolute;
//   width: 15rem;
//   bottom: 0;
//   left: 0;
// }
.burger {
  position: fixed;
  top: 3.3rem;
  right: 1rem;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
  pointer-events: none;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.burger::before {
  top: -10px;
  width: 20px;
}
.burger::after {
  top: 10px;
  width: 25px;
}
.toggle_menu {
  position: absolute;
  right: 4.5%;
  top: 32%;
  height: 2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 5;
}
.burger,
.toggle_menu {
  display: none;
}
// .fixed_nav input:checked ~ .burger {
//   width: 30px;
// }

// .fixed_nav input:checked ~ .burger::before {
//   top: 0;
//   transform: rotate(-45deg);
//   width: 30px;
// }
// .fixed_nav input:checked ~ .burger::after {
//   top: 0;
//   transform: rotate(45deg);
//   width: 30px;
// }

.fixed_nav input:checked .burger {
  transform: rotate(-90deg);
}

@media (min-width: 220px) and (max-width: 680px) {
  .burger,
  .toggle_menu {
    display: block;
    width: 30px;
  }
  .burger::before {
    width: 30px;
  }
  .burger::after {
    width: 30px;
  }
  .menu {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -1500px;
    height: 100%;
    width: 100%;
    transition: 200ms ease-out;
    background-color: black;
  }
  //   .fixed_nav {
  //     position: fixed;
  //   }
  .fixed_nav input:checked ~ .menu {
    right: 0;
  }
  .menu :nth-child(3) {
    margin: 0;
  }
  .footer {
    justify-content: center;
  }
}
