@import "../modules/variables";

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $background-color;
  padding: 1rem 2rem 1rem 2rem;
  p {
    color: $text-color;
  }
}
.fixed_nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-color;
  z-index: 55;
  transition: 0.5s ease-in-out;
}

.menu {
  display: flex;
  gap: 3rem;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
}
.menu :nth-child(3) {
  min-width: 215px;
  position: relative;
}

.burger {
  position: fixed;
  top: 3.3rem;
  right: 1rem;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
  pointer-events: none;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.burger::before {
  top: -10px;
  width: 20px;
}
.burger::after {
  top: 10px;
  width: 25px;
}
.toggle_menu {
  position: absolute;
  right: 3%;
  top: 32%;
  height: 2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 5;
}
.burger,
.toggle_menu {
  display: none;
}
.fixed_nav input:checked .burger {
  transform: rotate(-90deg);
}

@media (min-width: 220px) and (max-width: 680px) {
  .burger,
  .toggle_menu {
    display: block;
    width: 30px;
  }
  .burger::before {
    width: 30px;
  }
  .burger::after {
    width: 30px;
  }
  .menu {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -900px;
    height: 100%;
    width: 100%;
    transition: 300ms ease-out;
    background-color: $background-color;
  }
  .nav {
    justify-content: flex-start;
  }

  .fixed_nav input:checked ~ .menu {
    right: 0;
  }
  .menu :nth-child(3) {
    margin: 0;
  }
  .footer {
    justify-content: center;
  }
}
