@import "../modules/variables";

.orderList {
    padding: 0 0 5vh 0;
    list-style: none;
    .orderItem {
        padding: 3vh 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;
    }
}

.close {
    display: none;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 220px) and (max-width: 680px) {
    .order {
        display: flex;
        flex-direction: column;
        padding: 5vh 10vw;
    }

    .close {
        display: block;
        align-self: flex-end;
    }
}