
html,
body {
  padding: 0;
  margin: 0;
  background-color: #080808;
}

a {
  color: inherit;
  text-decoration: none;
}

/* fonts */
h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

p, button {
  font-size: 1.25rem;
}

/* * {
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
form {
  display: grid;
}

.ass {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

input:invalid ~ span {
  display: block;
}
