a {
  color: inherit;
  text-decoration: none;
}

/* fonts */
h2 {
  font-size: 2.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background-color: black;
}

h3 {
  font-size: 1.8rem;
  color: white;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
}

p,
button {
  font-size: 1rem;
}

p {
  line-height: 190%;
}

/* * {
  box-sizing: border-box;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgba(0, 0, 0, 0.821);
  }
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 2rem;
}

input:invalid ~ span {
  display: block;
} */
